.NodeEditor {
    height: inherit;
    width: inherit;
    display: flex;
    position: relative;
    overflow: hidden;
}

.NodeEditorDrag {
  cursor: move;
}

.NodeEditorSVG {
  width: 100%;
  background-color: rgb(38, 38, 38);
}